{% extends "users/base.html" %}
{% block content %}
<div class="welcome-message">
    <h1 class="title">
        Welcome To<br>
        Jub<span class="pink-message">jai</span>
    </h1>
    <div class="buttons">
        <a href="{{ url_for('users_login') }}" class="button custom-login">Log in</a>
        <a href="{{ url_for('users_signup') }}" class="button custom-signup">Sign Up</a>
    </div>
</div>

<style>
    .welcome-message {
        height: 100%;
        width: 100%;       
    }

    .title {
        font-size: 70px;
        font-weight: 800;
        color: #555454;
        position: absolute;
        margin-left: 91px;
        margin-top: 310px;
    }

    .pink-message {
        color: #f880c1;
    }

    .buttons {
        position: absolute;
        width: 520px;
        height: 48px;
        margin-top: 550px;
        margin-left: 91px;
        gap: 20px;
    }

    .custom-login {
        position: absolute;
        width: 192px;
        height: 48px;
        font-size: 20px;
        font-weight: 600;
        text-align: center;
        line-height: 48px;
        text-decoration: none;
        background-color: #fdd1ea;
        color: #555454;
        border-radius: 40px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .custom-signup {
        position: absolute;
        width: 192px;
        height: 48px;
        margin-left: 237px;
        font-size: 20px;
        font-weight: 600;
        text-align: center;
        line-height: 48px;
        text-decoration: none;
        background-color: #fdd1ea;
        color: #555454;
        border-radius: 40px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
</style>
{% endblock %}