{% extends "users/base.html" %}
{% block content %}
<div class="welcome-text">
    <h1 class="title">
        Welcome To<br>
        Jub<span class="pink-text">jai</span>
    </h1>
    <div class="buttons">
        <a href="{{ url_for('users_login') }}" class="button custom-button">Login</a>
        <a href="{{ url_for('users_signup') }}" class="button custom-button">Sign Up</a>
    </div>
</div>

<style>
    .welcome-text {
        height: 1080px;
        width: 1920px;       
    }

    body.welcome-page {
        background-image: url('static/img/welcome.jpg');
        background-size: cover;
        background-position: top center;
        background-repeat: no-repeat;
    }

    .title {
        font-size: 70px;
        font-weight: 800;
        color: #555454;
        position: absolute;
        margin-left: 91px;
        margin-top: 310px;
    }

    .pink-text {
        color: #f880c1;
    }

    .buttons {
        position: absolute;
        margin-left: 91px;
        gap: 20px;
        margin-top: 550px;
    }

    .custom-button {
        width: 192px;
        height: 48px;
        font-size: 20px;
        font-weight: 600;
        background-color: #fdd1ea;
        color: #555454;
        border-radius: 40px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
</style>
{% endblock %}