{% extends "users/base.html" %}
{% block content %}
<div class="column">
    <h3 class="title">Log in</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="notification is-danger">
            {{ messages[0] }}
        </div>
        {% endif %}
        {% endwith %}
        <form method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <div class="field">
                <div class="control">
                    <label class="label-text-email">Email</label>
                    <input class="input-email" type="email" name="email" placeholder="  Your Email" autofocus="">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <label class="label-text-password">Password</label>
                    <input class="input-password" type="password" name="password" placeholder="  Your Password">
                </div>
            </div>
            <div class="field">
                <label class="checkbox">
                    <input type="checkbox" name="remember">
                    Remember me
                </label>
            </div>
            <button class="button-box">Log in</button>
        </form>
        <br />

        <div class="google-field">
            <a href="{{ url_for('google') }}" class="button button-google">
                <span class="icon">
                    <img src="https://developers.google.com/identity/images/g-logo.png" alt="Google Logo"
                        style="height: 24px; margin-right: 10px; margin-top: 5px;">
                </span>
                <span>Signin with Google</span>
            </a>
        </div>
    </div>
</div>

<style>
    .column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px;
    }

    .title {
        font-size: 70px;
        font-weight: 500;
        margin-top: 57px;
        margin-bottom: 0px;
        color: #555454;
    }

    .box {
        width: 506px;
        height: 514px;
        padding: 0px;
        margin-top: 52px;
        border-radius: 20px;
        background-color: #fdd1ea;
        border-radius: 20px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    form {
        width: 506px;
        height: 356px;
        margin-top: 44px;
    }

    .label-text-email {
        font-size: 20px;
        color: #555454;
        margin-top: 44px;
        margin-left: 43px;
    }

    .label-text-password {
        font-size: 20px;
        color: #555454;
        margin-left: 43px;
    }

    .input-email {
        width: 406px;
        height: 49px;
        margin-left: 50px;
        margin-top: 20px;
        margin-bottom: 24px;
        padding: 0px;
        border: 0px;
        background-color: #fbf6fc;
        border-radius: 5px;
    }

    .input-password {
        width: 406px;
        height: 49px;
        margin-left: 50px;
        margin-top: 20px;
        margin-bottom: 24px;
        padding: 0px;
        border: 0px;
        background-color: #fbf6fc;
        border-radius: 5px;

    }

    .checkbox {
        margin-top: 10px;
        margin-left: 50px;
        color: #555454;
    }

    .button-box {
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        width: 192px;
        height: 48px;
        margin-top: 36px;
        margin-left: 157px;
        padding: 0px;
        border: 0px;
        background-color: #ffffff;
        color: #555454;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        cursor: pointer;
    }

    .google-field {
        width: 506px;
        height: 92px;
    }

    .button-google {
        font-family: 'Montserrat', sans-serif;
        text-decoration: none;
        width: 362px;
        height: 48px;
        font-size: 20px;
        margin-left: 72px;
        background-color: #ffffff;
        color: #555454;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

</style>
{% endblock %}