body {
    background-color: #f7f4fa !important;
    font-family: 'Montserrat', sans-serif;
}

/* Sidebar styling */
.sidebar {
    padding-top: 1rem;
    position: absolute;
    width: 70px;
    height: 100vh;
    background: #dddbf8;
    overflow: hidden;
    transition: 0.5s;
    top: 0;
}

.sidebar:hover {
    width: 210px;
}

.sidebar ul {
    position: relative;
    padding: 0;
    height: 100vh;
}

.sidebar ul li {
    list-style: none;
}

.sidebar ul li {
    background: #dddbf8;
}

.sidebar ul li a {
    position: relative;
    display: flex;
    white-space: nowrap;
    text-decoration: none;
}

.sidebar ul li a .icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 70px;
    height: 70px;
    font-size: 1.5rem;
    color: #333
}

.sidebar ul li a .text {
    position: relative;
    height: 70px;
    display: flex;
    align-items: center;
    font-size: 1em;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.bottom {
    position: absolute;
    bottom: 1rem;
    width: 100%;
}

/* Main content area */
.main-content {
    margin-left: 230px;
    margin-top: 30px;
    margin-right: 160px;
    padding: 2rem;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}

.main-content h2 {
    margin-bottom: 1rem;
    font-size: 28px; 
    font-weight: bold;
}

.budget-container {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem;
}

.budget-card {
    background: #fff;
    border-radius: 10px;
    padding-left: 60px; 
    padding-right: 60px; 
    padding-top: 32px;
    padding-bottom: 32px ;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    background-color: #dddbf8
}

.category-name {
    display: flex;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
}

.category-icon {
    width: 50px;
    height: 50px;
}

.bar {
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
}

.progress-bar {
    width: 100% !important;
    background: #b3b0b0 !important;
    height: 10px;
    border-radius: 5px;
    margin-top: 8px;
    margin-left: 12px;
    margin-right: 12px;
    padding: 0px !important;
}

.progress-fill {
    height: 100%;
    background: #4caf50;
    border-radius: 5px;
}