html {
  height: 100vh;
  background-color: #fbf6fc;
}

body {
  background-color: #fbf6fc !important;
  z-index: -1; 
  font-family: 'Montserrat', sans-serif;
}

.container {
  margin-top: 30px !important;
  padding: 2rem !important;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}

h2 {
  font-size: 2rem; 
  font-weight: bold;
  margin-bottom: 24px !important;
}

.form-label {
  margin-bottom: 0.5rem;
  font-weight: 600;
  display: block;
}

.btn-outline-custom {
  border: 1px solid #d3d3d3 !important;
  background-color: transparent;
  color: #555555 !important;
}

.btn-outline-custom:hover {
  background-color: #c9c5f8 !important;
  color: black !important;
}

.icon-option {
  cursor: pointer;
  margin-bottom: 10px;
  border: 2px solid transparent;
  border-radius: 4px;
  width: 100%;
  max-height: 100px;
  /* Limits the icon's height */
  object-fit: contain;
  /* Maintains the image's aspect ratio */
}

.icon-option:hover {
  border-color: black;
}

/* Styling for the "Import New Icon" card */
.import-icon {
  cursor: pointer;
  margin-bottom: 10px;
  border: 2px dashed black;
  border-radius: 4px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.import-icon span {
  font-size: 2rem;
  color: black;
}

.btn-custom {
  background-color: #dddbf8 !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  font-weight: 600 !important;
}

.btn-custom:hover {
  background-color: #c9c5f8 !important;
}

.modal-footer {
  padding: 8px !important;
}

.close-button {
  margin: 0px !important;
  background-color: #c9c5f8 !important;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1) !important;
  border-radius: 5px !important;
  border: none;
}
