.column {
    font-family:'Montserrat', sans-serif ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

.title {
    font-size: 60px;
    font-weight: 500;
    margin-top: 57px;
    margin-bottom: 0px;
    color: #555454;
}

.box {
    width: 500px;
    height: 460px;
    padding: 0px;
    margin-top: 40px;
    border-radius: 20px;
    background-color: #fdd1ea;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

form {
    width: 506px;
    height: 350px;
    margin-top: 40px;
}

.label-text-email {
    font-size: 20px;
    color: #555454;
    margin-top: 10px;
    margin-left: 43px;
}

.label-text-password {
    font-size: 20px;
    color: #555454;
    margin-left: 43px;
}

.input-email {
    width: 406px;
    height: 49px;
    margin-left: 50px;
    margin-top: 24px;
    margin-bottom: 28px;
    padding: 0px;
    border: 0px;
    background-color: #fbf6fc;
    border-radius: 5px;
}

.input-password {
    width: 406px;
    height: 49px;
    margin-left: 50px;
    margin-top: 24px;
    margin-bottom: 22px;
    padding: 0px;
    border: 0px;
    background-color: #fbf6fc;
    border-radius: 5px;

}

.checkbox {
    margin-top: 10px;
    margin-left: 50px;
    color: #555454;
}

.button-box {
    font-size: 20px;
    width: 192px;
    height: 48px;
    margin-top: 36px;
    margin-left: 157px;
    padding: 0px;
    border: 0px;
    background-color: #ffffff;
    color: #555454;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    cursor: pointer;
}

.head {
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}

.left-text {
    font-weight: medium;
}

.pink {
    color: #f880c1;
}

.button-container {
    display: flex;
    align-items: center;
}

.right-text {
    display: flex;
    gap: 40px;
}

.custom-button-top {
    font-size: 20px;
    color: black;
    text-decoration: none;
}

