body {
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    width: 100%;
    margin: 0px;
    background-color: #fbf6fc;
}

.head {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.left-text {
    font-size: 50px;
    font-weight: 600;
    margin-top: 30px;
    margin-left: 46px;
    color: #555454;
}

.pink {
    color: #f880c1;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 47px;
    margin-right: 55px;
}

.custom-button-top {
    background: none;
    border: none;
    text-decoration: none;
    color: #555454;
    font-size: 20px;
    cursor: pointer;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

.title {
    font-size: 70px;
    font-weight: 500;
    margin-top: 57px;
    margin-bottom: 0px;
    color: #555454;
}

.box {
    width: 506px;
    height: 424px;
    padding: 0px;
    margin-top: 52px;
    border-radius: 20px;
    background-color: #fdd1ea;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

form {
    width: 506px;
    height: 356px;
    margin-top: 44px;
}

.label-text-email {
    font-size: 20px;
    color: #555454;
    margin-top: 44px;
    margin-left: 43px;
}

.label-text-password {
    font-size: 20px;
    color: #555454;
    margin-left: 43px;
}

.input-email {
    width: 406px;
    height: 49px;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 24px;
    padding: 0px;
    border: 0px;
    background-color: #fbf6fc;
    border-radius: 5px;
}

.input-password {
    width: 406px;
    height: 49px;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 24px;
    padding: 0px;
    border: 0px;
    background-color: #fbf6fc;
    border-radius: 5px;

}

.checkbox {
    margin-top: 10px;
    margin-left: 50px;
    color: #555454;
}

.button-box {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    width: 192px;
    height: 48px;
    margin-top: 36px;
    margin-left: 157px;
    padding: 0px;
    border: 0px;
    background-color: #ffffff;
    color: #555454;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    cursor: pointer;
}
