html {
  height: 100vh;
  background-color: #fbf6fc;
}
body {
  font-family: 'Montserrat', sans-serif;
}
.sidebar {
      background-color: #dddbf8;
      min-width: 70px;
      max-width: 70px;
      border-right: 1px solid #ddd;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 1rem;
    }
    .sidebar a {
      display: block;
      margin: 20px 0;
      color: #000000;
      text-decoration: none;
      text-align: center;
      font-size: 1.7rem;
    }
    .main-content {
      margin-left: 100px;
      margin-top: 30px;
      margin-right: 30px;
      padding: 2rem;
      background: #fff;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    }
    .scan-box {
      background-color: #dddbf8;
      border-radius: 8px;
      height: 200px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #555454;
      font-size: 2rem;
      cursor: pointer;
      position: relative;
    }
    .scan-box input[type="file"] {
      position: absolute;
      opacity: 0;
      height: 100%;
      width: 100%;
      cursor: pointer;
    }
    .scan-box img {
      max-width: 100%;
      max-height: 100%;
    }
    .btn-custom {
      width: 74px;
      background-color: #dddbf8 !important;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 10px;
      font-weight: 600 !important;
    }
    #ocrResult {
  margin-top: 10px;
  font-size: 1rem;
  color: #333;
  background-color: #f8f8f8;
  padding: 5px;
  border-radius: 4px;
}
 
  .category-icon {
    width: 20px;
    height: 20px;
    object-fit: contain;
    vertical-align: middle;
}

.dropdown-menu .inner li a {
    display: flex !important;
    align-items: center !important;
}

.bootstrap-select .dropdown-toggle:focus {
    outline: none !important;
    box-shadow: none !important;
}
.form-label {
    margin-bottom: 0.5rem;
    font-weight: 600;
    display: block;
}

.bootstrap-select {
    width: 100% !important;
}

.category-icon {
    width: 20px;
    height: 20px;
    object-fit: contain;
    vertical-align: middle;
}
