.container{
    font-family:'Montserrat', sans-serif ;
}

.box {
    width: auto;
    height: auto;
    padding: 30px;
    margin-top: 40px;
    border-radius: 10px;
    background-color: #fdd1ea;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#user-list{
    margin-top: 10px;
    margin-bottom: 10px;
}
