<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>All Expenses</title>
  <!-- Bootstrap CSS (optional) -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
  <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta3/dist/css/bootstrap-select.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/budget.css') }}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
    rel="stylesheet">

</head>

<body>
  <!-- Sidebar -->
  <div class="sidebar">
    <ul>
      <li>
        <a href="{{ url_for('users_profile') }}" title="Profile">
          <span class="icon" id="sidebarProfileIcon">
            <img src="{{ current_user.avatar_url}}" alt="Profile" style="width:40px; height:40px; border-radius:50%;">
          </span>
          <span class="text">Profile</span>
        </a>
      </li>
      <li>
        <a href="{{ url_for('homepage') }}" title="Home">
          <span class="icon"><i class="bi bi-house-fill"></i></span>
          <span class="text">Home</span>
        </a>
      </li>
      <li>
        <a href="{{ url_for('all_transactions') }}" title="All_transaction">
          <span class="icon"><i class="bi bi-clipboard2-fill"></i></span>
          <span class="text">Transaction</span>
        </a>
      </li>
      <li>
        <a href="{{ url_for('create_transactions', transaction_type='income') }}" title="Income">
          <span class="icon"><i class="bi bi-graph-up"></i></span>
          <span class="text">Income</span>
        </a>
      </li>
      <li>
        <a href="{{ url_for('create_transactions', transaction_type='expense') }}" title="Expense">
          <span class="icon"><i class="bi bi-graph-down"></i></span>
          <span class="text">Expense</span>
        </a>
      </li>
      <li>
        <a href="{{ url_for('budgets') }}" title="Budgets">
          <span class="icon"><i class="bi bi-bar-chart-fill"></i></span>
          <span class="text">Budgets</span>
        </a>
      </li>
      <li>
        <a href="{{ url_for('report') }}" title="Charts">
          <span class="icon"><i class="bi bi-bar-chart-fill"></i></span>
          <span class="text">Charts</span>
        </a>
      </li>
      <li>
        <a href="{{ url_for('Calendar') }}" title="Calendar">
          <span class="icon"><i class="bi bi-bar-chart-fill"></i></span>
          <span class="text">Calendar</span>
        </a>
      </li>

      <div class="bottom">
        <li>
          <a href="{{ url_for('categories_management') }}" title="Categories Management">
            <span class="icon"><i class="bi bi-card-list"></i></span>
            <span class="text">Categories<br>Management</span>
          </a>
        </li>
        <li>
          <a href="{{ url_for('users_logout') }}" title="Logout">
            <span class="icon"><i class="bi bi-box-arrow-left"></i></span>
            <span class="text">Logout</span>
          </a>
        </li>
      </div>
    </ul>
  </div>


  <!-- Main Content -->
  <div class="main-content">
    <h2>My Budgets</h2>
    <div class="budget-container">
      {% for budget in budgets %}
      <div class="budget-card">
        <div class="row">
          <div class="col">
            <span class="category-name">{{ categories[budget.budget_id].name }}</span>
          </div>
        </div>
        <div class="d-flex align-items-center">
          <img class="category-icon" src="{{ categories[budget.budget_id].icon_url }}"
            alt="{{ categories[budget.budget_id].name }} Icon">
          <div class="bar">
            <div class="row">
              <div class="col text-start">
                <span class="start-date">{{ budget.start_of_month.strftime('%Y-%m-%d') }}</span>
              </div>
              <div class="col text-center">
                <span class="amount">{{ (budget.amount / budget.monthly_limit) * 100 }} %</span>
              </div>
              <div class="col text-end">
                <span class="end-date">{{ budget.end_of_month.strftime('%Y-%m-%d') }}</span>
              </div>
            </div>
            <div class="row">
              <div class="progress-bar">
                <div class="progress-fill" style="width: {{ (budget.amount / budget.monthly_limit) * 100 }}%;"></div>
              </div>
            </div>
            <div class="row">
              <div class="col text-start">
                <span class="amount">0.00</span>
              </div>
              <div class="col text-center">
                <span class="amount">{{ budget.amount }}</span>
              </div>
              <div class="col text-end">
                <span class="budget">{{ budget.monthly_limit }}</span>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col text-start">
            <span class="remain">{{ budget.monthly_limit - budget.amount }}</span>
          </div>
          <div class="col text-end">
            <!-- Modal for editing budget -->
            <button class="btn edit-budget" data-bs-toggle="modal"
              data-bs-target="#editBudgetModal{{ budget.budget_id }}" data-budgetid="{{ budget.budget_id }}"
              data-monthlylimit="{{ budget.monthly_limit }}">
              <i class="bi bi-pencil-square"></i>
            </button>
            <div class="modal fade" id="editBudgetModal{{ budget.budget_id }}" tabindex="-1"
              aria-labelledby="editBudgetModalLabel{{ budget.budget_id }}" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="editBudgetModalLabel{{ budget.budget_id }}">Edit Budget</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <form id="editBudgetForm{{ budget.budget_id }}">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                    <input type="hidden" id="editBudgetId{{ budget.budget_id }}" name="budget_id"
                      value="{{ budget.budget_id }}">
                    <div class="modal-body">
                      <div class="mb-3">
                        <label for="editMonthlyLimit" class="form-label">Monthly Limit</label>
                        <input type="number" id="editMonthlyLimit{{ budget.budget_id }}" name="monthly_limit"
                          value="{{ budget.monthly_limit }}" class="form-control" required>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                      <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <form method="POST" action="{{ url_for('delete_budget', budget_id=budget.budget_id) }}"
              class="d-inline-block">
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
              <button type="submit" onclick="return confirm('คุณแน่ใจว่าต้องการลบข้อมูลนี้?');" class="btn">
                <i class="bi bi-trash3"></i>
              </button>
            </form>
          </div>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

  <script>
    var csrf_token = "{{ csrf_token() }}";

    $.ajaxSetup({
      beforeSend: function (xhr, settings) {
        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
          xhr.setRequestHeader("X-CSRFToken", csrf_token);
        }
      }
    });

  </script>

</body>

</html>