<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login_admin.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="head">
        <div class="left-text">
            <span>Jub<span class="pink">jai</span></span>
        </div>
        <div class="button-container">
            <div class="right-text">
                <a href="{{ url_for('users_login') }}" class="button custom-button-top" style="margin-right: 49px;">Login</a>
                <a href="{{ url_for('users_signup') }}" class="button custom-button-top">Sign Up</a>
            </div>
        </div>
    </div>
    <div class="body">
        <div class="column">
            <h3 class="title">Admin Login</h3>
            <div class="box">
                <form method="POST">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                    <div class="field">
                        <div class="control">
                            <label class="label-text-email">Email</label>
                            <input class="input-email" type="email" name="email" placeholder="  Your Email"
                                autofocus="">
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <label class="label-text-password">Password</label>
                            <input class="input-password" type="password" name="password" placeholder="  Your Password">
                        </div>
                    </div>
                    <div class="field">
                        <label class="checkbox">
                            <input type="checkbox" name="remember">
                            Remember me
                        </label>
                    </div>
                    <button class="button-box">Login</button>
                </form>
            </div>
        </div>
    </div>
</body>